nav{
display: flex;



}
.header{
    background-color: #C6E4D6;
}

.banner{
    display: flex;
    justify-content: space-between;
    margin: 100px 64px 100px;
    width: 1280px;
    gap: 16px 24px;
    padding: 100px;
    
}

.banner-content{
    width: 622px;
    
}


.btn-primary{
background-color: #006a50;
font-weight: semi-bold;
color: white;
padding: 17px 35px;
border-radius: 8px;
border: none;
}
.banner-title{
font-weight: medium;
  color: #0E0E0E;
  margin: 16px;  
}
.banner-description{
color: #0E0E0E;
font-weight: 56px;
width: 622px;
height: 201px;
}
.banner-pic{

    width: 474px;
    padding: 64px 80px 100px;
}
.section-title{

    font-weight: 40px;
}

.pillars{
    
    gap: 30px;
    border-radius: 16px;
    
    
}
.main{
    display: flex;
    padding: 24px;
    gap: 24px;
   
}


.main-contents{
    
    border-radius: 16px;
    background-color: #5490F5;
  padding: 30px;
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.25);
}




.visions{
    display: flex;
    padding: 32px;
    gap: 142px;
    
    justify-content: space-between;
}

.vission{

    margin-top: 10px;
    border-radius: 16px;
    padding: 12px;
}
.button-second1{
background-color: #5490F5;
font-weight: 16px;
color: white;
border-radius: 8px;
padding: 20px 11px;
border: none;

}

.button-second2{
background-color: #09A15C;
font-weight: 16px;
color: white;
border-radius: 8px;
padding: 20px 11px;
border: none;
}

.button-second3{
background-color: #FFC239;
font-weight: 16px;
color: white;
border-radius: 8px;
padding: 20px 11px;
border: none;

}

.vision-description{

font-weight: 16px;
  
}
.vission-contents{
box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.25);

}
.portion{
    gap: 12px;
    padding:48px 48px 24px;
    box-shadow: 0px 4px 4px 25px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    text-align: left;
    margin: 20px;
    }


.name{
font-weight: 20px;
color: #0E0E0E;
padding: 24px;
text-align: left;

}
.paragraph{
width: 1232px;
height: 96px;
color: #0E0E0E;
padding: 24px;
text-align: left;


}
.text{
    text-align: left;
    padding: 24px;
}
.news-contents{

    display: flex;
    align-items: flex-start;
    gap: 32px;
}

.sat-pic{

    width:408px ;
    height: 306px;
    border-radius: 24px;

    
}
.news-main{

    padding: 48px;
   

}
.side-portion{

    padding: 48px 56px;
}
.news-title{

    text-align:left;
}